@* Ticket page preperation page *@
@* used to prepare the code for merging into home/ticket *@
@model List<event_booking.Models.Ticket>

@{
    var sectionList = ViewBag.Sections as List<event_booking.Models.Section>;

    @if (!string.IsNullOrEmpty(ViewBag.Error))
    {
        <div class="alert alert-danger">
            @ViewBag.Error
        </div>
    }
}

<style>
    .group{
        border: 1px solid black;
    }
</style>
        @* Header *@
<h2>Tickets Available</h2>
    <h3>@ViewBag.EventName</h3>
    <h4>Venue: @ViewBag.VenueName</h4>

        @*                                      *@
        @* Add a dropdown list for the sections *@
<form method="get">
    <div class="row">

        @* Add a DROPDOWN list for the SECTIONS *@
        <div class="col-auto mr-auto">
            <h4>Section: </h4>
        </div>
        <div class="col-auto mr-auto">
                <select name="sectionId" onchange="this.form.submit()">
                    @foreach (var sec in sectionList)
                    {
                        <option value="@sec.SectionId" selected="@(sec.SectionId == ViewBag.SelectedSectionId)">@sec.SectionName</option>
                    }
                </select>
        </div>

        @* Show the starting price of the tickets in the section *@
        <div class="col-auto mr-auto">
            @if (Model.Any())
            {
                var ticket = Model.First();
                <div class="ticket">
                    <p>Starting Price: @string.Format("{0:0.00}", ticket.BasePrice)</p>
                </div>
            }
            else
            {
                <p class="alert-danger">No tickets available in this section.</p>
            }
        </div>

        @* Show the number of tickets available in the section *@
        <div class="col-auto mr-auto">
            <h5>Tickets available: @ViewBag.TicketCount</h5>
        </div>

    </div>

        @*                                            *@
        @* Add a DROPDOWN list for the GROUPDISCOUNTS *@
    <div class="group">
        <div class="row">
            <div class="col-auto mr-auto">
                <h4>Group Discounts: </h4>
            </div>
            <div class="col-auto mr-auto">
                <select name="groupDiscountId" onchange="this.form.submit()">
                    <option value="" selected="@(ViewBag.SelectedGroupDiscountId == null)">Choose Group Discount</option>
                    @foreach (var discount in ViewBag.GroupDiscounts)
                    {
                        <option value="@discount.GroupDiscountId" selected="@(discount.GroupDiscountId == ViewBag.SelectedGroupDiscountId)">@discount.GroupName</option>
                    }
                </select>
            </div>
        </div>

        @* Show the discount for the group discount *@
        <div class="row">
        @* Adult Discount *@
            @if (ViewBag.AdultTickets > 0)
            {
                    <div class="col-auto mr-auto">
                        <h5>Adult Tickets</h5>
                    </div>
                    <div class="col-auto mr-auto">
                        <p>Quantity: @ViewBag.AdultTickets</p>
                    </div>
                    <div class="col-auto mr-auto">
                        <p>Subtotal: @string.Format("{0:0.00}", ViewBag.AdultSubtotal)</p>
                    </div>
            }
        </div>
        <div class="row">
        @* Child Discount *@
            @if (ViewBag.ChildTickets > 0)
            {
                    <div class="col-auto mr-auto">
                        <h5>Child Tickets</h5>
                    </div>
                    <div class="col-auto mr-auto">
                        <p>Quantity: @ViewBag.ChildTickets</p>
                    </div>
                    <div class="col-auto mr-auto">
                        <p>Subtotal: @string.Format("{0:0.00}", ViewBag.ChildSubtotal)</p>
                    </div>
            }
        </div>
    </div>

    @* Show the individual discounts for the discounts in the section *@
    @foreach (var discount in ViewBag.Discounts)
    {
        <div class="row">
            <div class="col-auto mr-auto">
                <h5>@discount.DiscountName</h5>
            </div>
            <div class="col-auto mr-auto">
                <select id="quantity-@discount.DiscountId" name="discountTicketCounts[@discount.DiscountId]" onchange="updateTotal(@discount.DiscountId, @discount.PriceMultiplier)">
                    @for (int i = 0; i <= ViewBag.TicketCount; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
            </div>
            <div class="col-auto mr-auto">
                <p>Individual Price: @string.Format("{0:0.00}", @discount.PriceMultiplier)</p>
            </div>
            <div class="col-auto mr-auto">
                <p id="total-@discount.DiscountId">Total Price: 0.00</p>
            </div>
        </div>
    }

</form>