@* Ticket page preperation page *@
@* used to prepare the code for merging into home/ticket *@
@model List<event_booking.Models.Ticket>
<div class="container">
    <br />
    <br />
    @* Header *@
    <img class="rounded-circle bg-white" style="width: 180px; height: 180px;" src="https://media.istockphoto.com/id/1204524500/vector/event-icon.jpg?s=612x612&w=0&k=20&c=7iW3d_jqCePuvHIXAL_lmUyENlY4XY2cAghukUuszNg=" />
    <br />
    <div2>
        <h1 class="display-5">@ViewBag.EventName</h1>
        <h1 class="display-6">@ViewBag.VenueName</h1>
    </div2>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    

    <div class="progressbar">
        <div class="progress gradient-custom-4" id="progress"></div>

        <div class="progress-step progress-step-active"
             data-title="Book"></div>
        <div class="progress-step" data-title="Details"></div>
        <div class="progress-step" data-title="Review"></div>
        <div class="progress-step" data-title="Payment"></div>
    </div>
</div>

    <link rel="stylesheet" href="style.css" />
    <script src="script.js" defer></script>

    @{
        var sectionList = ViewBag.Sections as List<event_booking.Models.Section>;

        @if (!string.IsNullOrEmpty(ViewBag.Error))
        {
            <div class="alert alert-danger">
                @ViewBag.Error
            </div>
        }
    }

<!-- STEP 1 -->
<!-- BOOK -->
<div class="form-step form-step-active">
    <form method="get">
        <div class="card">
            <div class="container"">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Tickets</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Sub-Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Section</th>
                        <td>
                            @if (Model.Any())
                            {
                                var ticket = Model.First();
                                <div class="ticket">
                                    <p>Starting Price: @string.Format("{0:0.00}", ticket.BasePrice)</p>
                                </div>
                            }
                            else
                            {
                                <p class="alert-danger">No tickets available in this section.</p>
                            }
                        </td>
                            <td>
                                <select name="sectionId" onchange="this.form.submit()">
                                    @foreach (var sec in sectionList)
                                    {
                                        <option value="@sec.SectionId" selected="@(sec.SectionId == ViewBag.SelectedSectionId)">@sec.SectionName</option>
                                    }
                                </select>
                            </td>
                        <td>Tickets available: @ViewBag.TicketCount</td>
                        </tr>
                        <tr>
                            <th scope="row">Group Discounts</th>
                            <td></td>
                            <td>
                                <select name="groupDiscountId" onchange="this.form.submit()">
                                    <option value="" selected="@(ViewBag.SelectedGroupDiscountId == null)">Choose Group Discount</option>
                                    @foreach (var discount in ViewBag.GroupDiscounts)
                                    {
                                        <option value="@discount.GroupDiscountId" selected="@(discount.GroupDiscountId == ViewBag.SelectedGroupDiscountId)">@discount.GroupName</option>
                                    }
                                </select>
                            </td>
                        <td></td>
                        </tr>
                        <tr>
                                @if (ViewBag.AdultTickets > 0)
                            {
                                <th scope="row">Adult Ticket</th>
                                <td></td>
                                <td>@ViewBag.AdultTickets</td>
                                <td>@string.Format("{0:0.00}", ViewBag.AdultSubtotal)</td>    
                            }     
                        </tr>
                        <tr>
                                @if (ViewBag.ChildTickets > 0)
                            {
                                <th scope="row">Child Ticket</th>
                                <td></td>
                                <td>@ViewBag.ChildTickets</td>
                                <td>@string.Format("{0:0.00}", ViewBag.ChildSubtotal)</td>
                            }
                    
                        </tr>
                    </tbody>
                </table>
                @* Show the individual discounts for the discounts in the section *@
                @foreach (var discount in ViewBag.Discounts)
                {
                    <div class="row">
                        <div class="col-auto mr-auto">
                            <h5>@discount.DiscountName</h5>
                        </div>
                        <div class="col-auto mr-auto">
                            <select id="quantity-@discount.DiscountId" name="discountTicketCounts[@discount.DiscountId]" onchange="updateTotal(@discount.DiscountId, @discount.PriceMultiplier)">
                                @for (int i = 0; i <= ViewBag.TicketCount; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </div>
                        <div class="col-auto mr-auto">
                            <p>Individual Price: @string.Format("{0:0.00}", @discount.PriceMultiplier)</p>
                        </div>
                        <div class="col-auto mr-auto">
                            <p id="total-@discount.DiscountId">Total Price: 0.00</p>
                        </div>
                    </div>
                }
                <p></p>
            </div>
        </div>
        <br>
        <br />
        <p></p>
        <div class="container">
            <div class="btns-group">
                <button class=" text-white btn btn-lg gradient-custom-4 btn-next">Next</button>
            </div>
        </div>
    </form>
</div>

<!-- STEP 2 -->
<!-- DETAILS -->

<div class="form-step">
        @*@if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
        }*@
    <form method="get" action="/ESTicketsPage/Details">
        <div class="row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input type="text" name="FirstName" class="form-control" id="floatingInputGrid" placeholder="name@example.com">
                    <label for="floatingInputGrid">First Name</label>

                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input type="text" name="LastName" class="form-control" id="floatingInputGrid" placeholder="name@example.com">
                    <label for="floatingInputGrid">Last Name</label>
                </div>
            </div>
        </div>
        <p></p>
        <div class="form-floating mb-3">
            <input type="email" name="Email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" />
            <label for="floatingInputGrid">Email</label>
        </div>
        <div class="form-floating mb-3">
            <input type="tel" name="PhoneNumber" class="form-control" id="floatingInputGrid" placeholder="name@example.com" />
            <label for="floatingInputGrid">Phone Number</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInputGrid" name="StreetAddress" placeholder="Enter your street address">
            <label for="floatingInputGrid">Street Address</label>
        </div>
        <div class="row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <select name="Country" class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                        <option selected>Pick your Location</option>
                        <option value="1">This Place</option>
                        <option value="2">That Place</option>
                        <option value="3">That other area</option>
                    </select>
                    <label for="floatingSelectGrid">Country</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input type="email" name="PostalCode" class="form-control" id="floatingInputGrid" placeholder="name@example.com">
                    <label for="floatingInputGrid">Postal Code</label>
                </div>
            </div>
        </div>
        <p></p>
    </form>
    <div class="btns-group">
        <button class=" text-white btn btn-lg gradient-custom-4 btn-prev" name="button">Prev</button>
        <button class=" text-white btn btn-lg gradient-custom-4 btn-next" name="button">Next</button>
    </div>
</div>

<!-- STEP 3 -->
<!-- REVIEW -->
<div class="form-step">
    <form method="get" action="/ESTicketsPage/Details">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Tickets</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Sub-Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Adult</th>
                    <td>$0</td>
                    <td>
                        <div class="data-list-input">
                            <select class="data-list-input" style="width:70px;">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>
                        </div>
                    </td>
                    <td>$0</td>
                </tr>
                <tr>
                    <th scope="row">Child</th>
                    <td>$0</td>
                    <td>
                        <div class="data-list-input">
                            <select class="data-list-input" style="width:70px;">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>
                        </div>
                    </td>
                    <td>$0</td>
                </tr>
                <tr>
                    <th scope="row">Under 6</th>
                    <td>$0</td>
                    <td>
                        <div class="data-list-input">
                            <select class="data-list-input" style="width:70px;">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>
                        </div>
                    </td>
                    <td>$0</td>
                </tr>
            </tbody>
        </table>
        <p></p>
    </form>
    <div class="btns-group">
        <button class=" text-white btn btn-lg gradient-custom-4 btn-prev">Prev</button>
        <button class=" text-white btn btn-lg gradient-custom-4 btn-next">Next</button>
    </div>
</div>

<!-- STEP 4 -->
<!-- PAYMENT -->

<div class="form-step">
    <form method="get" action="/ESTicketsPage/Details">
        <div class="row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com">
                    <label for="floatingInputGrid">Card Number</label>
                </div>
            </div>
        </div>
        <p></p>        
        <div class="row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                        <option selected>Card Expiry Date</option>
                        <option value="1">01</option>
                        <option value="2">02</option>
                        <option value="3">03</option>
                        <option value="4">04</option>
                        <option value="5">05</option>
                        <option value="6">06</option>
                        <option value="7">07</option>
                        <option value="8">08</option>
                        <option value="9">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                    <label for="floatingSelectGrid">Month</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                        <option value="1">23</option>
                        <option value="2">24</option>
                        <option value="3">25</option>
                        <option value="4">26</option>
                        <option value="5">27</option>
                        <option value="6">28</option>
                    </select>
                    <label for="floatingSelectGrid">Year</label>
                </div>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" />
                <label for="floatingInputGrid">Cardholder Name</label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" />
                <label for="floatingInputGrid">Card Security Code</label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" />
                <label for="floatingInputGrid">Billing Address</label>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com">
                    <label for="floatingInputGrid">Billing Postal Code</label>
                </div>
            </div>

        </div>
        <p></p>
    </form>
    <div class="btns-group">
        <a asp-area="" asp-controller="ESTicketsPage" asp-action="Ticket2"><input type="submit" value="Submit" class="text-white btn btn-lg gradient-custom-4" /> </a>
    </div>
    <form asp-action="Ticket2" method="post">
        @for (int i = 0; i < Model.Count; i++)
        {
            <input type="hidden" asp-for="@Model[i].TicketId" />
            <input type="hidden" asp-for="@Model[i].PurchaseId" />
            <input type="hidden" asp-for="@Model[i].DiscountId" />
            <!-- more fields as needed... -->
        }
        <input type="submit" value="Submit" />
    </form>
</div>


<script>
    const prevBtns = document.querySelectorAll(".btn-prev");
    const nextBtns = document.querySelectorAll(".btn-next");
    const progress = document.getElementById("progress");
    const formSteps = document.querySelectorAll(".form-step");
    const progressSteps = document.querySelectorAll(".progress-step");

    let formStepsNum = 0;

    nextBtns.forEach((btn) => {
        btn.addEventListener("click", () => {
            formStepsNum++;
            updateFormSteps();
            updateProgressbar();
        });
    });

    prevBtns.forEach((btn) => {
        btn.addEventListener("click", () => {
            formStepsNum--;
            updateFormSteps();
            updateProgressbar();
        });
    });

    function updateFormSteps() {
        formSteps.forEach((formStep) => {
            formStep.classList.contains("form-step-active") &&
                formStep.classList.remove("form-step-active");
        });

        formSteps[formStepsNum].classList.add("form-step-active");
    }

    function updateProgressbar() {
        progressSteps.forEach((progressStep, idx) => {
            if (idx < formStepsNum + 1) {
                progressStep.classList.add("progress-step-active");
            } else {
                progressStep.classList.remove("progress-step-active");
            }
        });

        const progressActive = document.querySelectorAll(".progress-step-active");

        progress.style.width =
            ((progressActive.length - 1) / (progressSteps.length - 1)) * 100 + "%";
    }
</script>
<style>
    body {
        background-color: Lavender;
    }

    :root {
        --primary-color: rgb(11, 78, 179);
    }

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }


    /* Global Stylings */
    label {
        display: block;
        margin-bottom: 0.5rem;
    }

    input {
        display: block;
        width: 100%;
        padding: 0.75rem;
        border: 1px solid #ccc;
        border-radius: 0.25rem;
    }

    .text-center {
        text-align: center;
    }

    /* Progressbar */
    .progressbar {
        position: relative;
        display: flex;
        justify-content: space-between;
        counter-reset: step;
        margin: 2rem 0 4rem;
    }

        .progressbar::before,
        .progress {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            height: 4px;
            width: 100%;
            background-color: white;
            z-index: -1;
        }


    .progress {
        width: 0%;
        transition: 0.3s;
    }

    .progress-step {
        width: 2.1875rem;
        height: 2.1875rem;
        background-color: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .progress-step::before {
            counter-increment: step;
            content: counter(step);
        }

        .progress-step::after {
            content: attr(data-title);
            position: absolute;
            top: calc(100% + 0.5rem);
            font-size: 0.85rem;
            color: #666;
        }

    .progress-step-active {
        background-color: rgba(108, 11, 113, 1);
        color: #f3f3f3;
    }



    .form-step {
        display: none;
        transform-origin: top;
        animation: animate 0.5s;
    }

    .form-step-active {
        display: block;
    }

    .input-group {
        margin: 2rem 0;
    }


    /* Button */
    .btns-group {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }

    .btn {
        padding: 0.75rem;
        display: block;
        text-decoration: none;
        color: #f3f3f3;
        text-align: center;
        border-radius: 0.25rem;
        cursor: pointer;
        transition: 0.3s;
    }

        .btn:hover {
            box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--primary-color);
        }

    .gradient-custom-4 {
        /* fallback for old browsers */
        background: #1A237E
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, rgba(0, 9, 75, 0.8), rgba(108, 11, 113, 1)));
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, rgba(0, 9, 75, 0.8), rgba(108, 11, 113, 1))
    }

    thead,
    tfoot {
        font-size: 20px;
        background-color: rgba(0, 9, 75, 0.8);
        color: white;
    }

    tbody {
        font-size: 15px;
    }

    table {
        border-collapse: collapse;
    }

    td,
    th {
        padding: 5px 10px;
        text-align: left;
    }

    a {
        text-decoration: none;
    }

    h4 {
        color: rgba(108, 11, 113, 1);
    }

    img {
        float: left;
    }

    div2 {
        float: right;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        
    }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

    .container {
        padding: 20px 20px;
    }
</style>



