@model IEnumerable<event_booking.Models.EventCategory>

@{
    ViewData["Title"] = "Index";
}

<a id="top"></a>
<h1>EventCategories</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EventCategoryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EventCategoryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EventCategoryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div class="mt-5">
    <a class="btn btn-primary" asp-controller="Home" asp-action="PromoterArea">Back to Promoters Area</a>
    <a class="btn btn-primary" asp-controller="Home" asp-action="CRUDs">CRUDs</a>
    <a class="btn btn-primary" href="#top">Back to Top</a>
</div>