@page
@model event_booking.Pages.EventUsers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EventUser</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventUser.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventUser.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventUser.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventUser.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventUser.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventUser.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventUser.Picture)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventUser.Picture)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventUser.Document)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventUser.Document)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventUser.IdentityUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventUser.IdentityUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.EventUser?.EventUserId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
