@page
@model event_booking.Pages.EventUsers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Create New</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventUser[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventUser[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventUser[0].Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventUser[0].Picture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventUser[0].Document)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventUser[0].IdentityUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.EventUser) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Picture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Document)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdentityUser.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.EventUserId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.EventUserId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.EventUserId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
