@page
@model event_booking.Views.Home.RegisterModel
@{
}

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
        font-family: 'Josefin Sans', sans-serif;
    }

    body {
        background-color: #f3f5f9;
    }

    .wrapper {
        display: flex;
        position: relative;
    }

        .wrapper .sidebar {
            width: 200px;
            height: 100%;
            background: #4b4276;
            padding: 30px 0px;
            position: absolute;
            float: right;
        }

            .wrapper .sidebar h2 {
                color: #fff;
                text-transform: uppercase;
                text-align: center;
                margin-bottom: 30px;
            }

            .wrapper .sidebar ul li {
                padding: 15px;
                border-bottom: 1px solid #bdb8d7;
                border-bottom: 1px solid rgba(0,0,0,0.05);
                border-top: 1px solid rgba(255,255,255,0.05);
                text-decoration: none
            }

                .wrapper .sidebar ul li a {
                    color: #bdb8d7;
                    display: block;
                    text-decoration: none
                }

                    .wrapper .sidebar ul li a .fas {
                        width: 25px;
                        text-decoration: none
                    }

                .wrapper .sidebar ul li:hover {
                    background-color: #594f8d;
                    text-decoration: none
                }

                    .wrapper .sidebar ul li:hover a {
                        color: #fff;
                        text-decoration: none
                    }

        .wrapper .main_content {
            width: 100%;
            margin-left: 200px;
        }

            .wrapper .main_content .header {
                padding: 20px;
                background: #fff;
                color: #717171;
                border-bottom: 1px solid #e0e4e8;
            }

            .wrapper .main_content .info {
                margin: 20px;
                color: #717171;
                line-height: 25px;
            }

                .wrapper .main_content .info div {
                    margin-bottom: 20px;
                }

    img {
        float: left;
        width: 25px;
        display: inline-block;
        margin: 0px 6px 4px;
    }

    p {
        font-size: 12px;
    }

    h4 {
        font-weight: bold;
    }

    .bg-image {
        margin-top: -17px
    }

    .gradient-custom-3 {
        /* fallback for old browsers */
        background: #1A237E
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, rgba(0, 9, 75, 0.8), rgba(108, 11, 113, 1)));
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, rgba(0, 9, 75, 0.8), rgba(108, 11, 113, 1))
    }

    .gradient-custom-4 {
        /* fallback for old browsers */
        background: #1A237E
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, rgba(0, 9, 75, 0.8), rgba(108, 11, 113, 1)));
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, rgba(0, 9, 75, 0.8), rgba(108, 11, 113, 1)) .popup

    {
        position: relative;
        display: inline-block;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        color: #bdb8d7;
    }

    /* The actual popup */
    .popup .popuptext {
        visibility: hidden;
        width: 160px;
        background-color: #555;
        color: #bdb8d7;
        text-align: center;
        border-radius: 6px;
        padding: 8px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -80px;
    }

        /* Popup arrow */
        .popup .popuptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
            color: #bdb8d7;
        }

    /* Toggle this class - hide and show the popup */
    .popup .show {
        visibility: visible;
        -webkit-animation: fadeIn 1s;
        animation: fadeIn 1s;
    }

    }
</style>


<body>

    <div class="wrapper">
        <div class="sidebar">
            <h2>Eventful</h2>
            <ul>
                <li><img src="https://icon-library.com/images/dashboard-icon-vector/dashboard-icon-vector-2.jpg" /> <a asp-controller="Home" asp-action="PromoterArea"> Dashboard</a></li>
                <li><img src="https://www.freeiconspng.com/thumbs/profile-icon-png/profile-icon-person-user-19.png" /> <a asp-controller="Profile" asp-action="Index"> Profile</a></li>
                <li><img src="https://img.uxwing.com/wp-content/themes/uxwing/download/seo-marketing/announcement-icon.png" /> <a asp-controller="Home" asp-action="Events"> Events</a></li>
                <li><img src="https://cdn-icons-png.flaticon.com/512/55/55281.png" /> <a asp-controller="Home" asp-action="Booking"> Bookings</a></li>
                <li><img src="https://cdn.onlinewebfonts.com/svg/img_387338.png" /> <a asp-controller="Home" asp-action="Review"> Reviews</a></li>
                <li><img src="https://cdn-icons-png.flaticon.com/512/3239/3239958.png" /> <a asp-controller="Home" asp-action="RegisterAccount"> Accounts</a></li>
                <li><img src="https://icon-library.com/images/settings-wheel-icon/settings-wheel-icon-14.jpg" /> <a asp-controller="Home" asp-action="CRUDs"> CRUDs</a></li>
                <li><img src="https://cdn.icon-icons.com/icons2/2518/PNG/512/logout_icon_151219.png" /> <a asp-area="Identity" asp-page="/Account/Logout"> Logout</a></li>
            </ul>
        </div>
        <div class="main_content">
            <div class="header"></div>
            <div class="info">
                <div class="row">
                    <div class="col">

                        <section class="vh-100 bg-image"
                                 style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
                            <div class="mask d-flex align-items-center h-100 gradient-custom-3">
                                <div class="container-fluid">
                                    <div class="row d-flex justify-content-center align-items-center h-100">
                                        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                                            <div class="card" style="border-radius: 15px;">
                                                <div class="card-body p-5">
                                                    <h1 class="text-uppercase text-center mb-5">Register An Account</h1>

                                                    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                                        <div>
                                                            <p style="text-align:center;">
                                                                Already Have an account? <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Sign In</a>
                                                            </p>
                                                        </div>
                                                        <hr />
                                                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                                        <div class="row g-2">
                                                            <div class="col-md">
                                                                <div class="form-floating">
                                                                    <input asp-for="Input.FirstName" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com">
                                                                    <label asp-for="Input.FirstName">First Name</label>
                                                                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md">
                                                                <div class="form-floating">
                                                                    <input asp-for="Input.LastName" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com">
                                                                    <label asp-for="Input.LastName">Last Name</label>
                                                                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <p></p>
                                                        <div class="form-floating mb-3">
                                                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                                            <label asp-for="Input.Email">Email</label>
                                                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                                                        </div>
                                                        <div class="form-floating mb-3">
                                                            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                                                            <label asp-for="Input.Password">Password</label>
                                                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                                                        </div>
                                                        <div class="form-floating mb-3">
                                                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                                                            <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                                                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                                        </div>
                                                        <div class="form-floating mb-3">
                                                            <select asp-for="Input.Role" class="form-control">
                                                                <option value="">Select a role</option>
                                                                <option value="@UserRole.User">User</option>
                                                                <option value="@UserRole.Promoter">Promoter</option>
                                                                <option value="@UserRole.Admin">Admin</option>
                                                            </select>
                                                        </div>
                                                        <p></p>
                                                        <button id="registerSubmit" type="submit" class="btn-block w-100 btn-lg gradient-custom-4 text-white">Register</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}