@model event_booking.Models.Event

<h2>Event Details</h2>

<div>
    <h4>Name: @Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Description</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Description)</dd>

        <dt class="col-sm-2">Start Date</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.StartDateTime)</dd>

        <dt class="col-sm-2">End Date</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.EndDateTime)</dd>

        <dt class="col-sm-2">Organizer</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Organizer.Name)</dd>

        <dt class="col-sm-2">Event Category</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.EventCategory.CategoryName)</dd>

        <dt class="col-sm-2">Image URL</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Image)</dd>

        <dt class="col-sm-2">Early Bird Cutoff</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.EarlyBirdCutoff)</dd>

        <!-- Add other properties you want to display -->

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EventId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
